MODE=dev

# Log
RUST_LOG=info

OWNER_EMAIL=you@example.com

# Server
SERVER__HOST=0.0.0.0
SERVER__PORT=7878

# Web
WEB__HOST=0.0.0.0
WEB__PORT=5173

# Postgres
POSTGRES__HOST=localhost
POSTGRES__PORT=5432
POSTGRES__USER=postgres
POSTGRES__PASSWORD=postgres
POSTGRES__DB=drydrop-dev

# Redis
SKIP_FIX_PERMS=1

# RabbitMQ
RABBITMQ_DEFAULT_USER=rabbitmq
RABBITMQ_DEFAULT_PASS=rabbitmq
RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS='-rabbitmq_stream advertised_host localhost'
